html,
body {
    padding: 0;
    margin: 0;
}

.upper {
    background-image: url("1.jpg");
    background-size: cover;
    /* display: flex;
    justify-content: center; */
}

.upper .header {
    display: flex;
    justify-content: end;
    margin: 0px;
}

.upper .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 20px;
}

.upper .content h1 {
    font-size: 150px;
    margin-bottom: 0;
}

.upper .content article {
    margin-top: 0;
}

.upper .header button {
    border-radius: 7px;
    margin: 5px;
    transition: all 0.5s;
    padding: 10px;
    /* font-size: 16px;
    
    border: 2px solid #ccc;
    border-radius: 5px; */ 
    outline : none;
}

.upper .header button a {
    text-decoration: none;
    /* font-size: 20px; */
    color: orange;
}

.upper .header button:hover {
    background-color: black;

}

.upper .header button:hover a {
    color: white;
}
.upper .search{
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  transition: 0.5s ease-in-out;
}
.upper .search:hover{
    
    color: white;
}
.upper .search input{
    border-radius: 15px;
    width: 315px;
    height: 30px;
    margin-bottom:150px ;
    margin-top: 10px;
    transition: 0.5s ;
    font-weight: bold;
}
.upper .search button{
    color: orange;
    border-radius: 15px;
    
    height: 30px;
    margin-bottom:150px ;
    margin-left: -60px;
    margin-top: 12px;
    outline: none;
    transition: 0.5s ease-in-out;
    
}
.upper .search input:hover{
    width: 400px;
    background-color: rgba(128, 128, 128, 0.952);
    color: rgb(0, 0, 0);
}
.upper .search ::placeholder{
    color: black;
    font-weight:bold ;
}
.upper .search input:active{
    width: 400px;
    background-color: black;
    color: white;
}

.upper .search button:hover{
    translate: -10px;
    background-color: rgba(128, 128, 128, 0.952);
    color: white;
}
.upper .search button:active{
    background-color: black;
    color: white;
}
